<ion-content>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="add" (click)="addRegistro()"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-item>
        <span (click)="picker.open()">{{diarioAtual.formatedDate}}</span>
        <input touchUi type="hidden" readonly matInput [matDatepicker]="picker" [value]="diarioAtual.data" (dateChange)="navigateTo($event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
    </ion-item>

    <ion-slides [options]="options" scrollbar=true pager=false class="slide-registros" #slider (ionSlideNextEnd)="nextDay()" (ionSlidePrevEnd)="prevDay()">
        <ion-slide *ngFor="let diario of diarios">
            <ion-grid class="list-registro">

                <ion-row class="item-registro ion-justify-content-around ion-align-items-center" *ngFor="let registro of diario.registros">

                    <ion-col>
                        <button mat-button size="large" color="primary"> {{registro.hora}}</button>
                    </ion-col>

                    <ion-col>
                        <button mat-fab color="primary" matBadgeSize="large" matBadge="{{registro.refeicao}}" matBadgePosition="above after" matBadgeColor="accent">
                            <ion-icon name="nutrition"></ion-icon>   
                        </button>
                    </ion-col>

                    <ion-col>
                        <button mat-fab color="primary" matBadgeSize="large" matBadge="{{registro.afericao}}" matBadgePosition="above after" matBadgeColor="accent">
                            <ion-icon name="flask"></ion-icon>   
                        </button>
                    </ion-col>

                    <ion-col>
                        <button mat-fab color="primary" matBadgeSize="large" matBadge="{{registro.dose}}" matBadgePosition="above after" matBadgeColor="accent">
                            <ion-icon name="color-filter"></ion-icon>   
                        </button>
                    </ion-col>

                </ion-row>
            </ion-grid>
        </ion-slide>
    </ion-slides>
</ion-content>