<ion-content>
    <ion-item>
        <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Refeição">
            <ion-select-option value="f">Café</ion-select-option>
            <ion-select-option value="m">Colação</ion-select-option>
            <ion-select-option value="m">Almoço</ion-select-option>
            <ion-select-option value="m">Lanche</ion-select-option>
            <ion-select-option value="m">Jantar</ion-select-option>
            <ion-select-option value="m">Ceia</ion-select-option>
        </ion-select>
    </ion-item>
</ion-content>